<div >
    <div class="add-title">
      <mat-toolbar class="toolbar-color py-4 mb-4">
        <div fxFlex fxLayout fxLayoutAlign="space-around center">
          <h3>Scénario module Action</h3>
        </div>
  
      </mat-toolbar>
    </div>
    <div>
  
      <form [formGroup]="fromScGenrique" (change)="formChanged()" class="line">
  
        <mat-card class="custom-card">
  
          <div fxLayout="row" ffxLayoutAlign="center center">
  
  
  
            <div fxFlex="70"  class="action-blurb" fxFlexOffset="5">
              <strong> Déchlencheur :</strong>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
    
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="employees" [searchKeyword]="keyword" placeholder="Déchlencheur"
                  historyIdentifier="employees1" [itemTemplate]="itemTemplate2" [notFoundTemplate]="notFoundTemplate"
                  formControlName="declencheur">
                </ng-autocomplete>
    
                <ng-template #itemTemplate2 let-item>
                  <div class="item">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU31QN0p6cf7IRzPMzDSx78u74VaAkHJDzxQ&usqp=CAU"
                      height="35">
                    <Strong [innerHTML]="item.name"></Strong> &nbsp; | &nbsp;
                    <em>matriculer : {{item.idUser}}</em>
    
                  </div>
                </ng-template>
    
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
     
    
          <div fxFlex="30"  class="action-blurb" fxFlexOffset="5">
            <mat-form-field>
              <mat-label>Filiale</mat-label>
              <mat-select formControlName="fgDeclencheur" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let f of fg" [value]="f">
                  {{f.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fgControl.hasError('required')">Veuillez choisir un filiale</mat-error>
              <mat-hint>{{fgControl.value?.name}}</mat-hint>
            </mat-form-field>
          </div>
          </div>
          <div fxLayout="row" ffxLayoutAlign="center center">
  
  
  
            <div fxFlex="70"  class="action-blurb" fxFlexOffset="5">
              <strong>Responsable de réalisation :</strong>
              <div class="text-inside">
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
              <div class="ng-autocomplete ">
                <ng-autocomplete [data]="employees" [searchKeyword]="keyword" placeholder="Responsable de réalisation"
                  historyIdentifier="employees2" [itemTemplate]="itemTemplate3" [notFoundTemplate]="notFoundTemplate"
                  formControlName="respoReal">
                </ng-autocomplete>
    
                <ng-template #itemTemplate3 let-item>
                  <div class="item">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU31QN0p6cf7IRzPMzDSx78u74VaAkHJDzxQ&usqp=CAU"
                      height="35">
                    <Strong [innerHTML]="item.name"></Strong> &nbsp; | &nbsp;
                    <em>matriculer : {{item.idUser}}</em>
    
                  </div>
                </ng-template>
    
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
    
              <div fxFlex="30"  class="action-blurb" fxFlexOffset="5">
                <mat-form-field>
                  <mat-label>Filiale</mat-label>
                  <mat-select formControlName="fgRespReal"  required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let f of fg" [value]="f">
                      {{f.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="fgControl.hasError('required')">Veuillez choisir un filiale</mat-error>
                  <mat-hint>{{fgControl.value?.name}}</mat-hint>
                </mat-form-field>
                </div>
                </div>
    
    
     
  
  
  
        </mat-card>
        
     
     
   
  
          <div class="btn-sec" fxLayoutAlign="space-around center" fxFlex="calc(50% - 80px)" class="m-1 pt-3">
  
            <button mat-raised-button type="submit"  color="primary" class="Update-btn" [disabled]="fromScGenrique.invalid" (click)="onAddScenario()">
              <mat-icon>add</mat-icon>
              Ajouter
            </button>
  
  <!---->
  
            <button mat-raised-button mat-dialog-close type="button" color="warn" class="Discard-btn">
              <mat-icon>cancel</mat-icon>
              Annuler</button>
  
  
          </div>
      
      </form>
  
  
  
  
  
    </div>
  </div>