<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'  && isLoggedIn" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened && isLoggedIn"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened  && isLoggedIn"> close </mat-icon>
  </button>
  Automated testing platform
  <div class="spacer"></div>
  <button mat-button class="menu-button" style="color: white;" class="nav-link" *ngIf="isLoggedIn && admin"
    routerLink="/user">
    <mat-icon style="color: white;">supervised_user_circle</mat-icon>
    <span>User</span>
  </button>

  <button mat-button class="menu-button" style="color: white;" *ngIf="isLoggedIn" class="nav-link"
    routerLink="/profile">

    <mat-icon style="color: white;"> person_pin</mat-icon>

    <span>{{ username }}</span>
  </button>

  <button mat-button class="menu-button" style="color: white;" class="nav-link" *ngIf="!isLoggedIn"
    routerLink="/register">

    <mat-icon style="color: white;"> supervisor_account</mat-icon>

    <span>Sign Up</span>
  </button>
  <button mat-button class="menu-button" style="color: white;" class="nav-link" *ngIf="!isLoggedIn" routerLink="login">

    <mat-icon style="color: white;"> person_pin</mat-icon>

    <span>Login</span>
  </button>


  <a mat-button style="color: white;" *ngIf="isLoggedIn" href class="nav-link" (click)="logout()">Log Out</a>
  <img *ngIf="isLoggedIn && !admin" class="avatar2" width="9%" height="90%"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">

  <img id="profile-img" class="avatar2" width="9%" height="50%" *ngIf="isLoggedIn && admin"
    src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.6435-9/67715976_145409353324287_2056318852563730432_n.jpg?_nc_cat=108&cb=99be929b-59f725be&ccb=1-7&_nc_sid=7a1959&_nc_ohc=pkgzu-BK6hIAX9pKt5P&_nc_ht=scontent.ftun10-1.fna&oh=00_AfBPfG9JrSSKfekBgmf4PAioPexQANFQDtIBQqfLs9zkJw&oe=64FE1A3F" />
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" *ngIf="isLoggedIn && !admin" width="9%" height="90%"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">

    <img class="avatar mat-elevation-z8" *ngIf="isLoggedIn && admin" width="9%" height="90%"
      src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.6435-9/67715976_145409353324287_2056318852563730432_n.jpg?_nc_cat=108&cb=99be929b-59f725be&ccb=1-7&_nc_sid=7a1959&_nc_ohc=pkgzu-BK6hIAX9pKt5P&_nc_ht=scontent.ftun10-1.fna&oh=00_AfBPfG9JrSSKfekBgmf4PAioPexQANFQDtIBQqfLs9zkJw&oe=64FE1A3F" />

    <h4 class="name">{{ username }}</h4>
    <p class="designation">{{ role }}</p>

    <mat-divider></mat-divider>


    <mat-expansion-panel [class.mat-elevation-z0]="false">
      <mat-expansion-panel-header>

        <button mat-button class="menu-button">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/prametrage">
            <mat-icon>settings</mat-icon><span>Settings</span>
          </button>

        </mat-list-item>

        <mat-list-item>
          <button mat-button class="menu-button" (click)="onClickNavigate('site')">
            <mat-icon>chrome_reader_mode</mat-icon><span>Site report</span>
          </button>

        </mat-list-item>
        <mat-list-item>
          <button mat-button class="menu-button" (click)="onClickNavigate('processus')">
            <mat-icon>chrome_reader_mode</mat-icon><span>Process Report</span> </button>

        </mat-list-item>
        <mat-list-item>
          <button mat-button class="menu-button" (click)="onClickNavigate('activite')">
            <mat-icon>chrome_reader_mode</mat-icon><span>Activity Report</span>
          </button>

        </mat-list-item>
        <mat-list-item>
          <button mat-button class="menu-button" (click)="onClickNavigate('direction')">
            <mat-icon>chrome_reader_mode</mat-icon><span>Direction report </span>
          </button>

        </mat-list-item>
        <mat-list-item>
          <button mat-button class="menu-button" (click)="onClickNavigate('service')">
            <mat-icon>chrome_reader_mode</mat-icon><span>Service report</span>
          </button>

        </mat-list-item>






      </mat-nav-list>
    </mat-expansion-panel>

    <mat-divider></mat-divider>




    <mat-expansion-panel [class.mat-elevation-z0]="false">
      <mat-expansion-panel-header>

        <button mat-button class="menu-button">
          <mat-icon>dns</mat-icon>
          <span>Action details</span>
        </button>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/action">
            <mat-icon>dns</mat-icon>
            <span>Action details</span>
          </button>

        </mat-list-item>

        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/reportaction">
            <mat-icon>chrome_reader_mode</mat-icon><span>Report Action details</span>
          </button>

        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>




    <mat-divider></mat-divider>




    <mat-expansion-panel [class.mat-elevation-z0]="false">
      <mat-expansion-panel-header>

        <button mat-button class="menu-button">
          <mat-icon>dns</mat-icon>
          <span>Action Simplify</span>
        </button>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/actSimplifier">
            <mat-icon>dns</mat-icon>
            <span>Action Simplify</span>
          </button>

        </mat-list-item>

        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/report/action/simplifier">
            <mat-icon>chrome_reader_mode</mat-icon><span>Report Action Simplify</span>
          </button>

        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel [class.mat-elevation-z0]="false">
      <mat-expansion-panel-header>

        <button mat-button class="menu-button">
          <mat-icon>dns</mat-icon>
          <span>Action request </span>
        </button>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/demande/action">
            <mat-icon>dns</mat-icon>
            <span>Action request</span>
          </button>

        </mat-list-item>

        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/report/demande/action">
            <mat-icon>chrome_reader_mode</mat-icon><span>Report Action request</span>
          </button>

        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel [class.mat-elevation-z0]="false">
      <mat-expansion-panel-header>

        <button mat-button class="menu-button">
          <mat-icon >access_time</mat-icon>
          <span>Meeting </span>
        </button>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/reunion">
            <mat-icon >access_time</mat-icon>
            <span>Meeting</span>
          </button>

        </mat-list-item>

        <mat-list-item>
          <button mat-button class="menu-button" routerLink="reunion/report">
            <mat-icon>chrome_reader_mode</mat-icon><span>Report reunion</span>
          </button>

        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>





    <mat-divider></mat-divider>
    <mat-expansion-panel [class.mat-elevation-z0]="false">
      <mat-expansion-panel-header>

        <button mat-button class="menu-button">
          <mat-icon> bar_chart</mat-icon>
          <span>Documenatation</span>
        </button>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button class="menu-button" routerLink="docuementation">
            <mat-icon> bar_chart</mat-icon>
            <span>Documenatation</span>
          </button>

        </mat-list-item>

        <mat-list-item>
          <button mat-button class="menu-button" routerLink="documentation/report">
            <mat-icon>chrome_reader_mode</mat-icon><span>Report Documenatation</span>
          </button>

        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>

    <mat-divider></mat-divider>




  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
