<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
        <h1 class="text-center">
            Connect user profile        </h1>
    </header>

   
  
</div>


<div class="row">
    <div  class="col-md-12">
        <div class="card m-b-30">
            <div class="card-body row">
                <div class="col-6">
                    <a href=""><img src="https://e7.pngegg.com/pngimages/348/800/png-clipart-man-wearing-blue-shirt-illustration-computer-icons-avatar-user-login-avatar-blue-child.png" alt="" class="img-fluid rounded-circle w-60"></a>
                </div>
                <div class="col-6 card-title align-self-center mb-0">
                    <h3> <strong>{{ currentUser.username }}</strong> Profile </h3>
                              

                    <p class="m-0">{{currentUser?.jobTitle}}</p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-envelope float-right"></i><Strong>Email :</Strong> {{currentUser?.email}}</li>
                <li class="list-group-item"><i class="fa fa-phone float-right"></i><Strong>Phone : {{currentUser?.phone}}</Strong></li>
                <li class="list-group-item" *ngFor="let role of currentUser.roles">
                    <strong>Roles:</strong>  {{ role }}
                    </li>
            </ul>
          
            <div class="card-body">
                <div class="float-right btn-group btn-group-sm">
                    <button (click)="onOpenModal(currentUser)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i>EDIT</button>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-template #loggedOut>
    Please login.
</ng-template>
