

<mat-toolbar color="primary" class="center-toolbar">
    <span class="fill-remaining-space">LISTE DES ACTIVITE</span>
  </mat-toolbar>
  <mat-card >
    <mat-card-content>
      <div class="example-header">
        <div class="example-header">
          <div fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="start">
            
    
          <mat-form-field>
            <input matInput (input)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          </div>
          <div   fxFlex="50" fxLayoutAlign="end">
    
          <button mat-raised-button (click)="openDialogadd()" style="background-color: rgb(55, 163, 55);color: white;    height: 60%; width: 70%;" class="success">Ajouter</button>
          </div>
    </div>
        </div>
   
        
          <div class="example-container mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="idSite">
                <mat-header-cell *matHeaderCellDef mat-sort-header>N° </mat-header-cell>
                <mat-cell *matCellDef="let row">   {{row.idScenarioActivite}}  </mat-cell>
              </ng-container>
        
              <!-- Progress Column -->
              <ng-container matColumnDef="site">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Activite </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row?.activite !== null">
                     {{row.activite.activite}}  
                  </ng-container>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dechlencheur">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Déchlencheur </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row?.dechlencheur !== null">
                     {{row.dechlencheur.name}}  
                  </ng-container>
                </mat-cell>
             
              </ng-container>
              <ng-container matColumnDef="f">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Filiale </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row?.filialeDeclencheur !== null">
                     {{row.filialeDeclencheur}}  
                  </ng-container>
                </mat-cell>
    
              </ng-container>
              
              
              <ng-container matColumnDef="....">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" fxLayout="row"  style="overflow:visible;">
                    <mat-icon>play_arrow</mat-icon>
                    <mat-icon style="color:rgb(238, 65, 65)">stop</mat-icon>
    
                    
                    <mat-icon style="color:#da4518" (click)="deleteScenario(row.idScenarioActivite)"> delete</mat-icon>
      
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </div>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
      </div>
        </mat-card-content>
    </mat-card>